page-register {
    
    .p1{
        
        color:red;
    }
    
    .but1{
        background-color: #3B5998;
    }
    
    .b1{
        font-size: 35px;
        
    }
    .but2{
        background-color:#d34836;
    }
    
    .b2{
        font-size: 35px;
        
    }
    .but3{
        background-color:#00aced;
    }
    .b3{
        font-size: 35px;
        
    }
    
    }
    