page-home {
/*.backgcol{
    background-color: lightsalmon;
}*/
.img1{
    vertical-align:middle; height:40px; width: 40px;
}
.div1{
    margin-left: 10%;
    margin-right: auto;
    display: block;
}
}
